.front {
    margin: 0 auto !important;
}

.main-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: #008891; */
}

.typing-effect {
    color: #f1aa9b;
    font-family: Spartan;
    font-weight: 700 !important;
    font-size: 6rem;
    text-align: center;
}

.desc {
    color: #e7e7de;
    text-align: center;
    font-family: Poppins;
    font-weight: 300;
}

.social-media {
    text-align: center;
}

.arrow-down-container {
    position: relative;
    text-align: center;
    margin-top: 3.5rem;
    /* bottom: 10%;
    left: 48.5%; */
    animation: pulse 2s infinite;
}

.arrow-up-container {
    position: fixed;
    bottom: 2%;
    right: 2%;
    transform: (2%, 2%);
    animation: upwards 2s infinite;
}

.arrow-down {
    color: #008891;
}

.arrow-down:hover {
    color: #f0c38e !important;
    animation-name: pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.social-media > a {
    color: white;
    border-radius: 50%;
    margin: 0 10px;
}

.social-media > a:hover {
    color: #008891;
}

@media screen and (max-width: 375px) {
    .typing-effect {
        font-size: 3rem;
    }

    .social-media {
        display: flex;
    }
}

@keyframes pulse {
    50% {
        transform: scale(1.2);
    }
}

@keyframes upwards {
    0% {
        transform: translate(-2%, 0%);
    }
    50% {
        transform: translate(-2%, 10%);
    }
    100% {
        transform: translate(-2%, 0%);
    }
}
