.nv {
    font-family: Spartan;
    background-color: #2e2950;
}

.menu {
    margin: 0 auto;
    display: flex;
    text-align: center;
    color: #9896a8;
}

.nav-link:hover {
    color: #f0c38e !important;
}

.nav-link.active {
    color: #f0c38e !important;
}

@media screen and (max-width: 380px) {
    .nav-link {
        margin: auto -4px;
    }

    .menu:active {
        opacity: 0.8;
    }
}

@media screen and (max-width: 768px) {
    .menu {
        font-size: 15px;
    }
}

