.about-content {
    margin-top: 18%;
}

.about-header {
    font-family: Spartan;
    font-weight: 700;
    color: #f1aa9b;
}

.about-desc {
    text-align: justify;
    font-family: Poppins;
    font-weight: 300;
    font-size: 20px;
    color: #e7e7de;
}

.highlighted {
    color: #fce38a;
}

@media screen and (max-width: 380px) {
    .about-content {
        padding-top: 20%;
    }
}

@media screen and (max-width: 768px) {
    .about-header {
        padding-top: 20%;
    }
    
    .about-desc {
        font-size: 15px;
    }
}