.skills-content {
    margin-top: 12%;
}

.skills-header {
    font-family: Spartan;
    font-weight: 700;
    color: #f1aa9b;
}

.skills-desc {
    font-family: Poppins;
    font-size: 20px;
    text-align: justify;
    margin-bottom: 5%;
    color: #e7e7de;
}

.skills-category-header {
    font-family: Spartan;
    font-weight: 600;
    color: #e7e7de;
}

.skills-category-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 20px;
}

.skills-category-desc {
    margin: 0 auto;
    /* animation: mymove 2s linear infinite; */
    /* animation-delay: 1s; */
    color: #e7e7de;
    align-content: center;
}

@keyframes mymove {
    0% {
      transform: translatey(0px);
    }
    50% {
      transform: translatey(-20px);
    }
    100% {
      transform: translatey(0px);
    }
}

@media screen and (max-width: 380px) {
    .skills-category-header {
        text-align: center;
        font-size: 20px;
    }

    .skills-header {
        padding-top: 2%;
    }
}

@media screen and (max-width: 768px) {
    .skills-content {
        margin-top: 30%;
    }

    .skills-desc {
        font-size: 15px;
    }
}
